# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.js]
max_line_length = 79

[*.md]
max_line_length = 80
